#wrapper {
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -50px;
}

#container {
    top: 0px;
    width: 100%;
    height: auto;
    margin: auto;
}

body {
    background-color: rgb(255, 215, 170);
    height: 100%;
    font-weight: 400;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.header {
    background-color: rgb(255, 215, 170);
    background-image: url(../Images/header_bg_red.png);
    position: relative;
    top: 0px;
    width: 100%;
    height: 175px;
    margin: 0px auto;
    border: 0px;
    padding: 0px;
}